body {
    font-family: 'Segoe UI', sans-serif;
    background: #ffffff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    background: #f8f8f8;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

p {
    text-align: center;
    color: #555;
    margin-bottom: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background: #000;
    color: #fff;
}

tr:nth-child(even) {
    background: #eee;
}

input {
    width: 80px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    text-align: center;
}

button {
    background: #000;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #333;
}


a {
    display: block;
    margin-top: 20px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}