body {
    font-family: 'Segoe UI', sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 320px;
    background: #f9f9f9;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: #333;
}

a {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}
